distro==1.9.0
et-xmlfile==1.1.0
JPype1==1.5.0
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
PyMuPDF==1.23.12
PyMuPDFb==1.23.9
pypdf==3.17.4
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
tabula-py==2.9.0
tzdata==2023.4
